<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Connect</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="http://twitter.com/obetsm"><span class="username">@{{ site.twitter_username }}</span></a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <p class="text">Copyright &copy; 2015 {{ site.title }}</p>
      </div>
    </div>

  </div>

</footer>
