<div id="footer">
  <div class="container">
    <div class="footer-col footer-col-1">
      <div class="h3">Connect</div>
      <p><a href="mailto:{{ site.email }}">{{ site.email }}</a><p>
      <p><a href="http://twitter.com/obetsm"><span class="username">@{{ site.twitter_username }}</span></a></p>

      <p class="copyright">&copy; Copyright 2015 Betsy O'Donnell</p> 

      <div class="clear"><!-- --></div>
    </div>

    <div class="footer-col footer-col-2">
      <div class="h3">About</div>

      <p>I'm the junior designer at <a href="#">SingleHop</a> an enterprise web hosting company in Chicago. 
      My work includes web design, branding, animation and video, print design, and illustration.</p>
      
      <p>All interface design is centered around Psychology and  User Experience.</p>

      <img class="made-with-pizza" src="/images/made-with-pizza.png">
    </div>

    <div class="clear"><!-- --></div>

  </div>
</div>

