<div id="footer">
  <div class="container">
    <div class="footer-col footer-col-1">
      <div class="h3">Connect</div>
      <p><a href="mailto:{{ site.email }}">{{ site.email }}</a><p>
      <p><a href="http://twitter.com/obetsm"><span class="username">@{{ site.twitter_username }}</span></a></p>

      <p class="copyright">Copyright 2015 Betsy O'Donnell</p> 

      <div class="clear"><!-- --></div>
    </div>

    <div class="footer-col footer-col-2">
      <div class="h3">About</div>

      <p>I'm the junior designer at <a href="#">SingleHop</a> an enterprise web hosting company in Chicago. My work includes web design, branding, animation and video, print design, and illustration.</p>
      
      <p>My  work is centered around Psychology,  User Experience, and branding. 
      The end goal of all my work is to create an experience.</p>
    </div>

    <div class="clear"><!-- --></div>

  </div>
</div>

<!--<footer class="site-footer">-->

  <!--<div class="wrapper">-->

    <!--<h2 class="footer-heading">Connect</h2>-->

    <!--<div class="footer-col-wrapper">-->
      <!--<div class="footer-col footer-col-1">-->
        <!--<ul class="contact-list">-->
          <!--<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>-->
          <!--<li><a href="http://twitter.com/obetsm"><span class="username">@{{ site.twitter_username }}</span></a></li>-->
        <!--</ul>-->
      <!--</div>-->

      <!--<div class="footer-col  footer-col-2">-->
        <!--<p class="text">Copyright &copy; 2015 {{ site.title }}</p>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->

<!--</footer>-->
