<div id="header">
  <div class="container">
    <div id="header-top">
      <div class="h1">Betsy O'Donnell</div>
      <div class="h3">Digital Designer</div>
    </div>

    <div id="header-bottom">
      <div id="header-bottom-left">
        <div id="header-logo">
          <a href="/">
            <img src="/images/logo.png">
          </a>
        </div>
      </div>

      <div id="header-bottom-right">
        <div id="header-main-menu">
          <a class="h3 active" href="/work/">Work</a>
          <a class="h3" href="/blog/"><h3>Blog<h3></a>
          <div class="clear"></div>
        </div>

        <div id="header-sub-menu">
          <a class="h5 tag tag-webdesign" href="/work/web-design/">Web Design</a>
          <a class="h5 tag tag-illustration" href="/work/illustration/">Illustration</a>
          <a class="h5 tag tag-video" href="/work/video/">Video</a>
          <a class="h5 tag tag-print" href="/work/print/">Print</a>
          <div class="clear"></div>
        </div>
      </div>

      <div class="clear"></div>
    </div>
  </div>
</div>
