<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="site-nav-left">
        <a class="page-link page-link-work" href="/work/">WORK</a>
        <a class="page-link page-link-about" href="/about/">ABOUT</a>
        <a class="page-link page-link-blog" href="/blog/">BLOG</a>
      </div>

      <div class="site-nav-right">
        <a class="page-link" href="mailto:betsyodonnell12@gmail.com">EMAIL</a>
        <a class="page-link" href="http://twitter.com/obetsm">TWITTER</a>
      </div>
    </nav>

  </div>

</header>
