{% assign loopindex = loopcounter | modulo: 2 %}

{% if loopindex == 1 %}
  <div class="post-box post-box-work">
{% else %}
  <div class="post-box post-box-work last">
{% endif %}

  <div class="post-box-top">
    <img src="http://loremflickr.com/g/429/385/graphics?random={{ loopcounter }}" width="429" height="385">
  </div>

  <div class="post-box-bottom">
    <a class="h3 post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

    <div class="clear"></div>

    {% for tag in post.tags %}
      <div class="h6 tag tag-small tag-{{ tag }}">{{ tag }}</div>
    {% endfor %}
  </div>
</div>
