*
  margin: 0
  padding: 0
h1
  font-size: 50px
h2
  font-size: 42px
h3
  font-size: 36px
h4
  font-size: 30px
h5
  font-size: 24px
h6
  font-size: 15px
h1, h2, h3, h4, h5, h6
  font-family: "Arvo", Arial, serif
  font-weight: normal

.h1
  font-size: 50px
.h2
  font-size: 42px
.h3
  font-size: 36px
.h4
  font-size: 30px
.h5
  font-size: 24px
.h6
  font-size: 15px
.h1, .h2, .h3, .h4, .h5, .h6
  font-family: "Arvo", Arial, serif
  font-weight: normal

p
  font-family: "PT Sans", Arial, sans-serif
  font-size: 15pt

a
  font-family: "PT Sans", Arial, sans-serif
  font-weight: bold
  font-size: 15pt
  color: #000  
  text-decoration: none

.clear
  clear: both

.container
  width: 940px
  margin: 0 auto

#header
  margin-top: 70px

#header-logo img
  width: 123px
  height: 123px
  border-radius: 10px

#header-bottom
  margin-top: 60px
  
#header-bottom-left
  float: left

#header-bottom-right
  float: left

#header-main-menu
  margin-bottom: 30px

#header-main-menu, #header-sub-menu
  margin-left: 40px

#header-main-menu a
  float: left
  margin-right: 30px

  &:hover
    border-bottom: 3px solid $black

  &.active
    border-bottom: 3px solid $black

.tag
  display: inline-block
  line-height: 20px
  padding: 10px 26px
  border-radius: 5px
  margin-right: 15px
  font-family: "PT Sans", Arial, sans-serif

  &.tag-small
    padding: 4px 20px 

  &.tag-illustration
    background: $cotton-candy

  &.tag-webdesign
    background: $mango

  &.tag-video
    background: $raspberry

  &.tag-print
    background: $mint


#content
  margin-top: 60px

.post-list
  margin-left: 0
  margin-top: 50px
  @extend %clearfix

  > .post-box
    height: 600px
    width: 449px
    margin-right: 30px
    margin-bottom: 30px
    border: 3px solid #d8d8d8
    float: left
    border-radius: 10px

    &.last
      margin-right: 0px

    .post-box-bottom
      padding: 20px

    .post-box-bottom .post-link
      margin-bottom: 10px

    .post-box-bottom .tag
      margin-top: 20px

    .post-box-bottom-content
      margin-top: 20px

    .post-box-top
      margin-left: 10px
      margin-top: 10px

    .post-box-top img
      border-radius: 5px
